.Header {
  font-family: monospace;
  font-size:  2em;
  color: #ebca31;
  text-align: center;
  background-color:#4c64ae;
  border-width: 5px;
  border-style: outset ;
  border-radius: 90px;
  padding: 1px;
  margin: 20px;
}
.Body {
  font-family: Lucida Console,Courier New;
  background-color: #f2eadd;
  color: #292768
}
.Home {
  word-spacing: 1ch;
  text-align: center;  
}
.Top {
  color: #4c64ae;
  text-indent: 2em;
  font-family: monospace;
  font-size:  1.25em;
  text-align: center;

  border-width: 2px;
  border-style: solid ;
  border-bottom-color: #8f929c;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden; 
  padding-bottom: 0px;
  margin-bottom: 25px;
}
   
.Promotion {
  background-color: #ebca31;
  border-radius: 10px;
  border-style: solid ;
  border-color: #ebca31;
}
.Tel {
  text-align: center;
}
.Footer {
  text-align: center;
}

.header_mn {
  font-family: monospace;
  font-size:  1.6em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

  color: #ebca31;
  text-align: center;
  background-color:#4c64ae;
  border-width: 5px;
  border-style: outset ;
  border-radius: 90px;
  padding: 1px;
  margin: 20px;
}
.Body_mn{
  font-family: Lucida Console,Courier New;
  background-color: #f2eadd;
  color: #292768
}
.Menu {
  word-spacing: 1ch;
}

.Drink{
  border-width: 2px;
  border-style: solid ;
  border-bottom-color: #8f929c;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  margin-bottom: 20px;
}
.Appetizer{
  border-width: 2px;
  border-style: solid ;
  border-bottom-color: #8f929c;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  margin-bottom: 20px;
}
.Main{
  border-width: 2px;
  border-style: solid ;
  border-bottom-color: #8f929c;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  margin-bottom: 20px;
}
.Dessert{
  border-width: 2px;
  border-style: solid ;
  border-bottom-color: #8f929c;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  padding-bottom: 20px;
}
.Footer_mn{
  text-align: center;
}
